@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3c63b5;
  padding: 6px;
}

nav.menu li {
  display: inline-block;
  list-style-type: none;
  margin: 24px;
}

nav.menu li > a {
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav.menu li > a:hover {
  text-decoration: underline;
  color: #ffffff;
}

img {
  width: 400px;
}

h2 {
  font-size: 48px;
  margin: 8px 0;
}

section {
  text-align: center;
  padding: 48px;
  border-bottom: 1px solid #ebebebf1;
}

button.botao-padrao {
  padding: 18px 48px;
  border-radius: 48px;
  border: 1px solid #3c63b5;
  background-color: #3c63b5;
  color: white;
  margin-top: 24px;
  font-size: 16px;
  margin: 24px 0;
}

button.botao-padrao:hover {
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 70%;
  margin: 12px auto;
}

table,
td,
th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

td,
th {
  padding: 12px;
}

section#planos {
  padding: 48px 0;
}

a#botao-flutuante {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}

a#botao-flutuante > img {
  width: 60px;
}

footer {
  padding: 24px;
}

footer > p {
  color: grey;
  text-align: center;
  font-size: 14px;
}
